#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("text_prompts",    str_t,    0, "A string of comma-separated text prompts.", "person, hand, headphones, glasses, bottle, mouse, monitor, keyboard")
gen.add("score_threshold", double_t, 0, "Score threshold for detections.", 0.50, 0.0, 1.0)
gen.add("top_k",           int_t,    0, "Maximum number of detections to return.", 10, 0, 100)
gen.add("visualize",       bool_t,   0, "Enable publishing of annotated images.", True)
gen.add("use_amp",         bool_t,   0, "Enable Automatic Mixed Precision for inference.", False)

exit(gen.generate("yolo_world_ros", "yolo_world_ros", "YOLOWorld"))
