#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("use_manual_prompts", bool_t, 0, "If true, use manual text prompts. If false, use prompts from file.", False)
gen.add("text_prompts", str_t, 0, "Text prompts for object detection, separated by commas. Used if use_manual_prompts is true.", "person, car, dog")
gen.add("text_prompt_file", str_t, 0, "Path to a text or JSON file with prompts. Used if use_manual_prompts is false.", "data/texts/coco_class_texts.json")
gen.add("score_threshold", double_t, 0, "Confidence score threshold for predictions", 0.5, 0, 1)
gen.add("top_k", int_t, 0, "Keep top-k predictions", 10, 1, 100)
gen.add("use_amp", bool_t, 0, "Use mixed precision for inference", False)
gen.add("visualize", bool_t, 0, "Publish annotated image", True)

exit(gen.generate(
    "yolo_world_ros", "yolo_world_ros", "YOLOWorld"))
